#header .logo {
  max-width: 120px;
  height: 77px;
  margin: 0;
  -webkit-background-size: contain;
  background: unset !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-image: url(https://scientex.gitlab.io/shared-file/daimler/logo_sm.png) !important;
}

.prologue_page .question .before_header .parent_block {
    display: block;
    width: 300px !important;
    height: 168px !important;
    margin: 1rem auto 2rem;
    background-image: url(https://scientex.gitlab.io/shared-file/daimler/first_page_icon.png) !important;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}