#header .logo {
  max-width: 200px;
  height: 60px;
  margin: 0;
  -webkit-background-size: contain;
  background: unset !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-image: url(https://scientex.gitlab.io/shared-file/gameinsight/logo_sm.png) !important;
}